nav li,a{
	display:inline;
	text-decoration: none;
	font-family:  'Luckiest Guy',cursive;
	font-size: 12px;
	color:black;
	margin-top: 30px;

}

nav li a:hover{
	color:red;
}

nav ul{
	margin-top: 20px;
}

header h1,img{
	margin-top: 20px;
	font-family: 'Indie Flower',comic sans ms;
	color: black;
	text-shadow: 3px -1px 1px blue;
	             
}

.image{
	padding-top: 0px;
	margin-left: -10px;
    margin-right: 50px;
	min-width: 960px;
	height:400px;

}

h2{
	font-family: 'Bungee Inline', solid cursive;
	color: blue;
	font-size: 200%;
	padding:0;
	margin:0;
}

.container_12{
	
	background-color:gray;
}

header{
	background-color:  purple;
	position: fixed;

}

.hero{
	margin-top: 120px;
	margin-left: 50px;
	font-size: 20px;
	text-align: center;
	padding-top: 0px;
	font-family: 'Poiret One', cursive;
	color:  black;
}

.content section{
	font-family: 'Poiret One', cursive;
	color:  black;
	font-size: 20px;
	padding-top: 20px;
}



.grid_6{
	padding-top: 10px;
}
.info img{
	width: 460px;
	height:460px;
}
.info{
	
	font-size: 12px;
	color: blue;
	font-family: 'Bungee Inline',cursive;
}
.foot{
	background-color:black; 
	font-family: 'Poiret One', cursive;
	font-size: 25px;
	margin-top: 500px;
	color:  #f97427;

}
.foot img{
	
	padding-left: 10px;
	margin-bottom: 2px;

}