nav li,a{
	display:inline;
	text-decoration: none;
	font-family:  'Luckiest Guy';
	font-size: 15px;
	color:white;
	margin-top: 30px;

}

nav li a:hover{
	color:blue;
	border: 1px solid red;
	font-size: 22px;
}

nav ul{
	margin-top: 18px;
}

header img{
	margin-top: 25px;
	             
}
body{
	
	
	background-image: url(../imgs/logo.jpg);
	
}

.image{
	padding-top: 0px;
	margin-left: -10px;
    margin-right: 90px;
	min-width: 960px;
	height:400px;

}

h2{
	padding-top: 20px;
	font-family: 'Bungee Inline', solid cursive;
	color: white;
	font-size: 200%;
	
}

/*.container_12{
	
	background-color:gray;
	background-image: url("benz.jpg");
}*/

header{
	
	position: fixed;
	/*background-image: url("../imgs/benz.jpg")*/

}

.hero{
	margin-top: 120px;
	margin-left: 50px;
	font-size: 20px;
	text-align: center;
	padding-top: 0px;
	font-family: 'Poiret One', cursive;
	color:  white;
}

.content section{
	font-family: 'Poiret One', cursive;
	color:  white;
	font-size: 20px;
	padding-top: 20px;

}



.grid_6{
	padding-top: 10px;
	letter-spacing: .1px;
}
.info img{
	width: 450px;
	height:450px;
}
.info{
	
	font-size: 12px;
	color: gray;
	font-family: 'Bungee Inline',cursive;
}
.foot{
	font-family: cursive;
	font-size: 18px;
	margin-top: 700px;
	color:  white;

}
.foot img{
	
	padding-left: 10px;
	margin-bottom: 2px;

}